  body {
      position: relative;
    background-image:url(imgs/)      

  }
  .footer {
      position:absolute;
      clear:both;
      bottom:0;
      width:100vw;
      height:15vh;
      background-color:grey;
      left:0;
      right:0;
  }



  .portfolio {
      margin-bottom:3vh;
  }


.fab {
    color:black;
    font-size:2vw;
    padding:10px;
}

.logo {
    width:3rem;
    margin-left:10px;
    
}


.footer-links{
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:5vh;
}


.card-img-top:hover {
    opacity: 0.6;
}

#contact-submit-link {
    text-decoration:none;
    color:white;
}

#headshot {
    display:block;
    max-width: 100%;
    height:auto;
}

#bio {
    margin-left:14px;
    margin-right:10px;
    padding-left:20px;
    padding-right:20px;
    
}


#github {
    display:flex;
    justify-content: center;
}


