footer {
    width:100%;
    position:relative;
    clear:all;
    height:10%;
    background-color:rgb(177, 170, 170);
   
}


.footer-content ul {
    display: flex;
    justify-content:center;
    
    
}

footer li {
    list-style-type:none;
    padding:20px;
}

.fab {
    color:white;
}

.logo {
    width:32px;
    margin-left:-10px;
    margin-right:10px;
    
}

.card-1 {
    height:358.656px;
}


.headshot {
    width:500px;
    margin-top:50px;
}

.bio {
    margin-bottom:3vh;
}