  body {
      background-color: black;
      font-family: 'Open Sans', sans-serif;
      /* font-family: 'Roboto Mono', monospace; */
      color:white;
  }

  .footer {
      display:flex;
      flex-wrap:flex;
      flex-direction:row-reverse;
      justify-content: space-evenly;
      align-items: flex-start;
      position:absolute;
      clear:all;
      height:20vh;
      background-color:rgb(15, 15, 15);
      width:99vw;
      font-family: 'Montserrat', sans-serif;
  }

  .footer .col-xs-4 {
      /* outline: 1px solid red; */
      margin-top: 20px
  }

  .footer p {
      font-size:.8rem;
      color:lightslategrey;
  }

  .footer h5 {
      font-size:.9rem;
  }
  .footer a {
      text-decoration: none;
      color:lightslategrey;
  }
  .footer a:hover {
      color:whitesmoke;
  }
  

.logo {
    width:3rem;
}


/* .card-img-top:hover {
    opacity: 0.6;
} */




/* ============================================================== */

/* index page */

/* ============================================================== */

.greeting {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro {
    color: white;
}

.introlight {
    color:rgba(214, 206, 206, 0.74);
    
}

.introBox {
    color:black;
    background:whitesmoke;
}




.image {
    position:relative;
    /* height: 50vh; */
    /* border-radius: 10px; */
}

.image__img {
    display:block;
    width:100%;

}


.image__overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    color:white;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity:0;
    transition: opacity 0.3s;
}
/* 
.image__overlay--blur {
    backdrop-filter: blur(5px);
} */


.image__overlay > * {
    transform: translateY(15px);
    transition: transform 0.3s;
}


.image__overlay:hover {
    opacity:1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.container img {
    border-radius: 4px;
}




/* 
.makeOpaque:hover {
    opacity:0.8;
    transition: opacity 0.4s;
} */


/* ============================================================== */

/* Resume */

/* ============================================================== */
    

.parent {
    position:relative;
    background-color: purple;
}
.child {
    background-color: green;
}

.portfolio-body {
    margin-top: 7vh;
}
/* 
.footer-contact {
    bottom:-247px;
} */

/* #resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border:2px solid black;
    margin-top: 5vh;
    margin-bottom: 5vh;
} */

/* 
#resume-portfolio-buttons {
    max-width:60%;
    margin-left:20%;
} */

/* 
#portfolio-btn-link, #resume-btn-link {
    border-radius:30px;
} */





/* ============================================================== */

/* Portfolio page */

/* ============================================================== */

.portfolio {
    margin-bottom:3vh;
    color:black;
}



.portfolio img {
    height: 300px;
    
}



img {
    max-width: 100%;
}







/* ============================================================== */
/* footer */
/* ============================================================== */








/* ============================================================== */

/* media queries */

/* ============================================================== */

@media all and (max-width: 768px) {
    #restaurantFinder {
        top:-120px;
    }
}

@media all and (max-width: 576px) {
    .devicon {
        font-size: 2.7rem;
        /* color:rgba(255, 255, 255, 0.651); */
        /* color: rgba(110, 34, 197, 0.733) */
        /* color: rgb(94,53,177); */
        color: rgb(68,0,153);
    
    
    }

    .devicon-javascript-plain {
        font-size: 2.3rem;
    }

    .carousel-inner img {
        height: 30vh;
    }

    .card img {
        height:30vh;
    }

    .footer {
        height:30vh;
    }
    .footer p {
        font-size:10px;
    }
}