  body {
      position: relative;
      width:100vw;
      background-color: whitesmoke;
  }


  .footer {
      display:flex;
      justify-content: center;
      align-items: center;
      position:absolute;
      clear:all;
      height:15vh;
      background-color:rgb(20, 20, 20);
      width:100vw;
  }

  .footer-links a{
      text-decoration:none;
  }
 


  .portfolio {
      margin-bottom:3vh;
  }


.fab {
    color:rgba(255, 255, 255, 0.651);
    font-size:2rem;
    padding:10px;
}

.fab:hover {
    color:white;
}

.logo {
    width:3rem;
}


.card-img-top:hover {
    opacity: 0.6;
}

#contact-submit-link {
    text-decoration:none;
    color:white;
}

#headshot {
    max-width: 500px;
    min-width:30%;
    border:3px solid black;
    border-radius:4px;
    margin-top:30px;
}
.headshot-block {
    background-color: whit;
}

#bio {
    margin-left:14px;
    margin-right:10px;
    margin-bottom:40px;
    padding-left:20px;
    padding-right:20px;
}

#github {
    display:flex;
    justify-content: center;
}

.portfolio-body {
    margin-top: 7vh;
}

.footer-contact {
    bottom:-247px;
}

#resume {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border:2px solid black;
    /* max-width:100vw;
    max-height:140vh; */
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#resume-portfolio-buttons {
    max-width:60%;
    margin-left:20%;
}


#portfolio-btn-link, #resume-btn-link {
    border-radius:30px;
}
